@charset "UTF-8";
/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    background-image: url(images/bg-mobile.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #674bb1; */
    align-items: center;
}

main{
    background-color: red;
    width: 50%;
    max-width: 470px;
}
h1{
    width: 50%;
    background-color: blue;
    color: #ffffff;
    font-size: 20px;
}
p{
    width: 50px;
    color: #ad9e9e;
}
div{
    background-color: #ffffff;
    color: #674bb1;
    
    text-align: center;
    width: 150px;
} 